<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <%# <li class="nav-item active"> %>
            <%#= link_to "+ Add teachers", "#", class: "nav-link btn btn-export" %>
          <%# </li> %>
          <li class="nav-item active <%= "fw-bold" if action_name == "home" %>">
            <%= link_to "My Teachers Roasters", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active <%= "fw-bold" if action_name == "management" %>">
            <%= link_to "Manage Campus", teachers_mgmt_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log-out", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log-in", root_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
