<div class="banner py-5">
  <h1 class="text-center fw-bold">Le Wagon <span style="color: #E60E05; font-weight: bold;"><%= @school.city.capitalize %></span></h1>
  <h4 class="text-center">Teachers Roaster</h4>
  <% if user_signed_in? %>
    <div class="text-center mt-4">
      <%= link_to export_roaster_path(format: :csv), class: "btn btn-export" do %>
        Export Roaster <i class="fas fa-cloud-download-alt"></i>
      <% end %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>  
  <div class="text-center bg-white p-3">
    <% if @last_update %>
      <p class="mt-3"><strong>Last update:</strong> <%= (Date.today - @last_update.to_date).to_i %> day<%= "s" if (Date.today - @last_update.to_date).to_i != 1 %> ago (<%= @last_update.strftime("%d of %b %Y, at %H:%M") %>)</p>
    <% end %>

    <%= form_with url: update_roaster_path(@school, format: "csv"), method: :post do |f| %>
      <%= button_tag class: "btn btn-update" do %>
        <span class="show-when-enabled">Update Roaster</span>
        <span class="show-when-disabled"><i class='fa fa-spinner fa-spin'></i> Updating</span>
      <% end %>
    <% end %>
  </div>
  
  <div class="py-4 bg-white">
    <table class="table table-hover custom-table">
      <tr>
        <th class="first-table-th custom-th">Course</th>
        <th class="custom-th">Topic</th>
        <th class="custom-th">Week</th>
        <th class="custom-th">Lecture</th>
        <th class="custom-th">Teacher Id</th>
        <th class="custom-th">Teacher</th>
        <th class="custom-th">Github Nickname</th>
        <th class="custom-th">Days as LT</th>
        <th class="custom-th">Days as LTA</th>
        <th class="custom-th">Days as TA</th>
        <th class="custom-th">Location</th>
        <th class="last-table-th custom-th">Kitt Profile</th>
      </tr>
      <tbody>
        <% @teachers_availabilities.each do |availability| %>
          <tr class="position-relative">
            <td><%= availability.course_slug %></td>
            <td><%= availability.topic %></td>
            <td><%= availability.week %></td>
            <td><%= availability.lecture_day_slug %></td>
            <td><%= availability.teacher_id %></td>
            <td><%= availability.first_name %> <%= availability.last_name %></td>
            <td><%= availability.github_nickname %></td>
            <td style="<%= "color: rgba(0,0,0,0.1)" if availability.lecturer_work_day_count == 0 %>"><%= availability.lecturer_work_day_count %></td>
            <td style="<%= "color: rgba(0,0,0,0.1)" if availability.lead_ta_work_day_count == 0 %>"><%= availability.lead_ta_work_day_count %></td>
            <td style="<%= "color: rgba(0,0,0,0.1)" if availability.ta_work_day_count == 0 %>"><%= availability.ta_work_day_count %></td>
            <td><%= availability.country_of_residence %> - <%= availability.city_of_residence %></td>
            <td><%= link_to availability.teacher_profile_url, availability.teacher_profile_url, style: "color: black", target: "a_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="sign-up-container mt-5">
    <h2 class="text-center">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Log in", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
<% end %>
