<div class="banner py-5">
  <h1 class="text-center"><strong>Le Wagon</strong></h1>
  <h4 class="text-center"><span style="color: #E60E05; font-weight: bold;"><%= @school.city %></span> Campus</h4>
</div>

<div class="mt-5 text-center">
  <%= link_to "Upload Teachers", new_teacher_path, class: "btn btn-update" %>
</div>

<div class="mt-5">
  <div class="alert-teachers">
    <i class="fa-solid fa-bell position-absolute" style="color: rgb(230,14,5)"></i>
    <p class="m-0">Teacher not present in the API (no classes given ever).</p>
  </div>

  <table class="teachers-mgmt-table">
    <tr>
      <th class="only-table-th custom-th">Github Nickname</th>
    </tr>
    <% @teachers.each do |teacher| %>
      <tr class="position-relative">
        <td style=<%= TeachersRoaster.find_by(github_nickname: teacher.github_nickname) ? "" : "background:" + "rgba(230,14,5,0.1);" %>>
          <%= teacher.github_nickname %>
          <%= link_to edit_teacher_path(teacher), class: "position-absolute edit-btn" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to teacher_path(teacher), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "position-absolute delete-btn" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>